



<div class="col-sm-12">
  <div class="card-body">
   <h5 class="card-title">Announcement: <%= announcement.title %></h5>
    <p class="card-text">Content:<%= announcement.content %></p>
  </div>
</div>
