<!-- new announcement -->

<div class="container-fluid p-3">
  <% if current_user.role == "teacher" %>
    <%= render "new" %>
  <% end %>

  <div class="card p-4 mt-2">
    <h1 class='text-primary'>View all my announcements</h1>
    <%= render "filter" %>
    <%= render partial: "announcements/announcement", locals: { announcements: @announcements} %>
  </div>
</div>

