<!-- new announcement -->
<% if current_user.role == "teacher" %>
  <%= render "new" %>
<% end %>

<div class="container p-2">
  <h1>View all my announcements</h1>
</div>

<!-- filter -->
<%= render "filter" %>

<!-- list all -->
<%= render @announcement %>
