<div class="container p-2">
  <h1>View all announcements</h1>
</div>

<div class="list-group">
  <% @announcements.each do |anc| %>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= anc.title %></h5>
          <small><%= anc.created_at %></small>
        </div>
        <p class="mb-1"><%= anc.content %></p>
        <ul class="list-inline">
          <small>Posted in:
          <% anc.classroom_announcements.each do |x| %>
            <li class="list-inline-item"><%= x.classroom.name %></li>
          <% end %>
          </small>
        </ul>
      </a>
  <% end %>
</div>


