<!-- new announcement -->
<% if current_user.role == "teacher" %>
  <%= render "new" %>
<% end %>

<div class="card p-4 mt-2">
  <div class="container">
    <h1>View all my announcements</h1>
  </div>

  <!-- filter -->
  <%= render "filter" %>

  <!-- list all -->
  <%= render partial: "announcements/announcement", locals: { announcements: @announcements} %>
</div>
