<% @classrooms.each do |classroom| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Classroom: <%= classroom.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Teacher: <%= classroom.name %></h6>
    <p class="card-text"><%= classroom.academic_year %></p>
    <%# link_to "Go to classroom", chatrooms_path(classroom) %>
  </div>
</div>
<% end %>
