<div class="cards">
  <% @classrooms.each do |classroom| %>
    <div class="card card-select">
      <div class="card-body">
        <h5 class="card-title"><%= link_to classroom.name, classroom_path(classroom) %></h5>
        <p class="card-text"><%= classroom.academic_year %></p>
      </div>
    </div>
  <% end %>
</div>
