<div class="container-fluid p-3">
  <div id="frame">
    <div id="sidepanel">
      <div id="search" class="container-fluid">
        <label for=""><i class= aria-hidden="true"></i></label>
      </div>
      <div id="contacts">
        <% raise %>
        <ul class="list-unstyled">
          <% @classrooms.each do |c|%>
            <li class="contact">
              <div class="wrap">
                <div class="meta">
                  <% if !c.messages.empty? %>
                     <p class="name"><%= link_to "#{c.name}", show_chat_url(c, anchor: "message-#{c.messages.last.id}" ), data: { turbolinks: false } %></p>
                  <% else %>
                    <p class="name"><%= link_to "#{c.name}", show_chat_url(c), data: { turbolinks: false } %></p>
                  <% end %>
                  <%= c.messages.empty? ? '' : c.messages.last.content %>
                </div>
              </div>
            </li>
          <% end %>
         </ul>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile container">
        <p>Select a classroom to begin</p>
      </div>
      <div class="messages">
      </div>
    </div>
  </div>
</div>
