<h1>enri'CHER chatrooms</h1>

<div style="display: grid; grid-template-columns: 1fr 4fr;">
  
    <div class="bg-dark container box-one ">
    
      <h4 style="color:white;">Classrooms</h4>
      <% @classrooms.each do |c|%>
        <p><%= link_to "# #{c.name}", show_chat_path(c) %></p>
      <% end %>
    </div>


  <div class="chat rounded vh-100">
    Select a classroom to begin your chat
    
    </div>
</div>

