<div class="vh-100 p-3">
  <div id="frame" class='d-flex h-100 bg-light border border-solid rounded shadow'>
    <!-- sidepanel section -->
    <div id="sidepanel" class="section-scroll" style="width: 20%; height: 100%; background: #2c3e50;">
      <div id="contacts" class="my-2">
        <ul class="list-unstyled">
          <% @classrooms.each do |classroom|%>
            <li class="contact py-2">
              <div class="wrap">
                <div class="meta">
                  <% if !classroom.messages.empty? %>
                     <p class="name mb-0"><%= link_to "#{classroom.name}", show_chat_url(classroom, anchor: "message-#{classroom.messages.last.id}" ), data: { turbolinks: false } %></p>
                  <% else %>
                    <p class="name mb-0"><%= link_to "#{classroom.name}", show_chat_url(classroom), data: { turbolinks: false } %></p>
                  <% end %>
                  <small class="text-white mb-0"><%= classroom.messages.empty? ? '' : classroom.messages.last.content %></small>
                </div>
              </div>
            </li>
          <% end %>
         </ul>
      </div>
    </div>
    <!-- main chat section -->
    <div class="content" style="width: 80%">
      <div class="contact-profile p-3 bg-secondary w-100" style="height: 10%;">
        <h4 class="text-white">Select a classroom to begin</h4>
      </div>
    </div>
  </div>
</div>
