<div class="container-fluid p-3">
  <h1 class='text-primary'>All classrooms</h1>
</div>

<div class="container-fluid">
  <%= render partial: 'classrooms/classroom', locals: { classrooms: @classrooms } %>
</div>
