<div class="container">
  <div class="card p-4 mt-2">
    <div class="container">
      <h1 class='text-primary'>All classrooms</h1>
    </div>

    <div class="container">
      <%= render 'classroom' %>
    </div>
  </div>
</div>
