// Define variables for your color scheme

// For example:
$red: #E95060;
$blue: #5E81F4;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4A9D77;
$gray: #83919E;
$light-gray: #F4F4F4;
$rich-green: #3FA798;
$rich-purple: #9167a8;
