<h1>All office hours here</h1>

<div class="calendar-container">
  <%= month_calendar(events: @office_hours, end_attribute: :end_time) do |date, office_hours| %>
    <%= date %>

    <% office_hours.each do |office_hour| %>
      <div class="meeting">
        <small><%= office_hour.time unless office_hour.multi_days? %></p>
      </div>
    <% end %>
  <% end %>
</div>
