<h1>All office hours here</h1>

<ul>
  <% @office_hours.each do |oh| %>
   <li>
    <%= oh.date %>
    <%= oh.start_time.strftime('%H:%M') %>
    <%= oh.end_time.strftime('%H:%M') %>
   </li>
  <% end %>
</ul>
