
<div class="mw-100 z-index-3 sticky-top">
  <form>
    <div class="row no-gutters align-items-center">
      <div class="col">
        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search">
      </div>
      <div class="col-auto">
        <button class="btn btn-lg btn-success" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
