<div class="container p-2">
  <% if current_user.role == "parent" %>
    <%= render "new", locals: { tickets: @tickets } %>
  <% end %>
  <h1 class=text-primary>View all your tickets</h1>

  <%= form_tag tickets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search tickets"
    %>
  <% end %>

  <%= render partial: 'tickets/ticket', locals: { tickets: @tickets } %>
</div>
