<div class="container p-2">
  <h1>View all your tickets</h1>
<h2>Search tickets by name / category</h2>

  <%= form_tag tickets_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find all tickets"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<%= render 'ticket', locals: { tickets: @tickets } %>
</div>


