<div class="container-fluid p-3">
  <% if current_user.role == "parent" %>
    <%= render partial: 'tickets/new', locals: { ticket: @ticket } %>
  <% end %>

  <div class="card p-4 py-2 mt-2">
    <h1 class=text-primary>View all your tickets</h1>

    <%= form_tag tickets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search tickets"
      %>
    <% end %>

    <% if @tickets.empty? %>
      <h4>You have no tickets</h4>
    <% else %>
      <%= render partial: 'tickets/ticket', locals: { tickets: @tickets } %>
    <% end %>
  </div>


</div>
