
.chat {
  border: 1px solid;
  background: white;
  height: 80vh;
}

.box-one {
  height: 80vh;
  overflow: scroll;
}

.chat-footer {
  position: sticky;
  bottom: 34px;
  height: 38px;
}

.chat-footer .message_content {
  flex-grow: 2;
}

.message-container {
  height: 86%;
  overflow-y: auto;
  color: 1B1E1B;
}
