h1, h2, h3, h4, h5, p {
  font-family: 'Roboto', sans-serif;
}

.badge-logo {
  background-color: $rich-purple;
  color: white;
}

.card .fas {
  color: $rich-purple;
}

.info-header {
  color: $rich-purple;
}
