.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.img-style { border-radius: 2px }

.announcement-icon {
  position: relative;
}

.nav-item .announcement-notification {
  position: absolute;
  right: 4px;
  top: 11px;
}

