<h1>All appointment view</h1>

<ul>
  <% @appointments.each do |appointment| %>
   <li>
    <%= appointment.office_hour.date %>
    <%= appointment.office_hour.start_time.strftime('%H:%M') %>
    <%= appointment.office_hour.end_time.strftime('%H:%M') %>
   </li>
  <% end %>
</ul>
